.searchResults__results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    /* align-content: flex-start; */
    width: 95vw;
    max-width: 95vw;
}
.searchResults__header {
    width: 100%;
    font-weight: 400;
}
.searchResults__result {
    /* display: block; */
    max-width: 200px;
    height: auto;
    max-height: 150px;
    /* width: 200px; */
    border-radius: 8px;
    object-fit: cover;
    padding: 2px;
}

@media (max-width: 390px) {
    .searchResults__result {
        width: 175px;
        border-radius: 10px;
    }
}